/* You can add global styles to this file, and also import other style files */

:root {
  --negative-info: hsla(0, 100%, 41%, 0.6);
  --info-1: hsla(43, 100%, 52%, 1);
  --info-2: hsla(207, 54%, 51%, 1);
  --info-3: hsla(203, 91%, 14%, 1);
  --positive-info: hsla(172, 71%, 25%, 0.6);
}

* {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
	padding: 0;
	border: 0;
  line-height: 1.5;
  Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: calc(15px + 0.390625vw);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}